body {
  background-color: #333;
}

#90s-game {
   display: block;
  border: 2px solid white;
  width: 800px;
  margin: auto;
  cursor: pointer;
}

#highscore {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 50px;
	right:100px;
}
